body {
	background: #0CC6C6;
	color: black;
	margin: 0;
}

html, body {
  overflow-x: hidden;
}

#weather { /*'#' targets anything with the id specified after*/
	font-weight: 600; /*font-weight and font-size change thickness and size of letters*/
	font-size: 100px;
	margin: 0; /*removes automatic margin that causes unnecessary empty space below*/
}

#byCharlieStanley {
	margin-top: -8px;
}

#mainButtonContainer {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100vw; /*vw = viewport width - scales to viewport size*/
	height: 120px;
	gap: 20px;
	margin-top: 8px;
	display: flex; /*automatically arranges child elements in row or column*/
	justify-content: center;
	align-items: center; /*centres content on cross axis (vertical here)*/
	background: white;
	overflow: hidden;
}

#logo {
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0;
	margin-left: 0px;
	padding: 0;
}

#Cloud9ine-logo,
#Cloud9ine-image-logo {
  max-height: 100%; /* Scale logos to fit container height */
  object-fit: contain;
  margin-left: 5px;
}

.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	gap: 10px;
	margin-left: auto;
}

.spacer { /*sets the height and width of spacer (an empty container from html file), creating a blank section to be copy-pasted*/
	height: 100px; 
	width: 100%;
}

.backPage-btn {
	background: none;
	border:none;
	padding: 0;
	cursor: pointer;
}

.backPage-btn img {
	display: block;
	width: 50px;
	background: none;
}

.backPage-btn:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
	outline: 2px solid #fff;
	outline-offset: 4px;
}

.cityName {
	text-decoration: none;
	color: inherit;
}

.hoverBox {
	padding: 5px 15px;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	color: white;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	/*transition: all 0.3s ease;*/
	z-index: 2;
}

.pin-ring {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 2px solid white;
	border-radius: 50%;
	background: transparent;
	z-index: 2;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
}

.pin-circle {
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
}

#map-image-container {
	width: 600px;
	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#map-image-container img {
	width: 100%;
	z-index: 1;
	display: block;
}

#hoverBox-London {
	top: 77%;
	left: 86%;
}
#hoverBox-Edinburgh {
	top: 40.75%;
	left: 63%;
}
#hoverBox-Bristol {
	top: 80%;
	left: 58%;
}
#hoverBox-Cardiff {
	top: 76%;
	left: 46%;
}
#hoverBox-Exeter {
	top: 84%;
	left: 44%;
}
#hoverBox-Leeds {
	top: 59%;
	left: 74.5%;
}

#pin-London {
	top: 620px;
	left: 490px;
}
#pin-Edinburgh {
	top: 330px;
	left: 353px;
}
#pin-Bristol {
	top: 616px;
	left: 395px;
}
#pin-Cardiff {
	top: 612px;
	left: 355px;
}
#pin-Exeter {
	top: 675px;
	left: 340px;
}
#pin-Leeds {
	top: 480px;
	left: 420px;
}

.hoverBox:hover {
	text-decoration: underline;
}

#back-btn1 {
	position: absolute;
	bottom: 30px;
}

/*#mainButtonContainer {
  outline: 2px dashed red;
}
#Cloud9ine-logo,
#Cloud9ine-image-logo {
  outline: 2px dashed blue;
}*/







#weather-info {
	text-indent: 50px;
}
