body {
	margin-left: 50px; /*indents everything inside 'body' by 50px*/
	background: #0CC6C6;
	color: black;
}

#weather { /*'#' targets anything with the id specified after*/
	font-weight: 600; /*font-weight and font-size change thickness and size of letters*/
	font-size: 100px;
	margin: 0; /*removes automatic margin that causes unnecessary empty space below*/
	margin-left: -20px; /*counteracts margin-left indentation for body (set earlier) to make aligmnment look better*/
}

#byCharlieStanley {
	margin-top: -8px;
}

#mainButtonContainer {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	height: 120px;
	width: 100vw; /*vw = viewport width - scales to viewport size*/
	margin-left: -50px;
	padding: 0;
	gap: 20px;
	display: flex; /*automatically arranges child elements in row or column*/
	justify-content: flex-start;
	align-items: center; /*centres content on cross axis (vertical here)*/
	background: white;
}

#mainButtonContainer #Cloud9ine-logo {
	height: 60%;
	object-fit: contain;
	margin-left: 10px;
}

.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	gap: 10px;
	margin-left: auto;
}

.spacer { /*sets the height and width of spacer (an empty container from html file), creating a blank section to be copy-pasted*/
	height: 100px; 
	width: 100%;
}

#hoverBox {
	padding: 5px 15px;
	position: absolute;
	background-color: black;
	opacity: 0.6;
	color: white;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	/*transition: all 0.3s ease;*/
	z-index: 2;
}

#pin-ring {
	position: absolute;
	width: 14px;
	height: 14px;
	border: 2px solid white;
	border-radius: 50%;
	background: transparent;
	z-index: 2;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
}

#pin-circle {
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 50%;
	box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
}

.image-container {
	width: 600px;
	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-container img {
	width: 100%;
	z-index: 1;
	display: block;
}

.hoverBox-London {
	top: 77%;
	left: 86%;
}
.hoverBox-Edinburgh {
	top: 40.75%;
	left: 63%;
}
.hoverBox-Bristol {
	top: 80%;
	left: 58%;
}
.hoverBox-Cardiff {
	top: 77%;
	left: 86%;
}
.hoverBox-Exeter {
	top: 77%;
	left: 86%;
}
.hoverBox-Leeds {
	top: 77%;
	left: 86%;
}

.pin-London {
	top: 620px;
	left: 490px;
}
.pin-Edinburgh {
	top: 330px;
	left: 353px;
}
.pin-Bristol {
	top: 616px;
	left: 395px;
}
.pin-Cardiff {
	top: 620px;
	left: 490px;
}
.pin-Exeter {
	top: 620px;
	left: 490px;
}
.pin-Leeds {
	top: 620px;
	left: 490px;
}

#hoverBox:hover {
	text-decoration: underline;
}
